<%= turbo_frame_tag :form_control_document do %>
  <div class="fr-alert fr-alert--warning fr-mb-2w">
    <h3 class="fr-alert__title">Vous êtes sur le point de supprimer le document de contrôle de <%= @control_document.organisme.nom %> signé le <%= format_date(@control_document.signature_date) %>.</h3>
    <p>Attention, si vous validez, le document sera supprimé définitivement. Cliquez sur annuler pour revenir en arrière.</p>
  </div>
  <ul class="fr-btns-group fr-btns-group--inline-lg fr-btns-group--right">
    <li><button class="fr-btn fr-btn--secondary" aria-controls="modal-document-control">Annuler</button></li>
    <li><%= link_to control_document_path(@control_document), data: {turbo_frame: "_top", "turbo-method": :delete}, class:"fr-btn" do %>Valider<% end %></li>
  </ul>
<% end %>