<% @organismes.each do |organisme| %>
  <div>
    <ul><li>
    <%= link_to organisme_path(organisme) do %>
      <%= organisme.nom %><% if organisme.acronyme && !organisme.acronyme.blank? %> - <%= organisme.acronyme %><%end %>
    <%end %>
    </li></ul>
  </div>
<%end %>