<div class="fr-notice fr-notice--info fr-mb-3w">
  <div class="fr-container">
    <div class="fr-notice__body">
      <p class="fr-notice__title">
        Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.
      </p>
    </div>
  </div>
</div>