<% content_for :title do %>Formulaire de modification d'un opérateur | OPERA <% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</main>