.flatpickr-input::placeholder{
  color: var(--text-title-grey) !important;
}
.flatpickr-input:disabled::placeholder{
  color: var(--text-disabled-grey) !important;
  cursor: not-allowed !important;
}
.div-dropdown{
  position:relative;
}
.div-dropdown .fr-menu{
  top: 0px !important;
  margin: 0 !important;
  background-color: var(--background-default-grey);
  pointer-events: auto;
  max-height:14rem;
  overflow:auto;
}
.cwarning{
  color: var(--text-default-warning) !important;
}
.title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fr-text--barre{
  text-decoration : line-through;
}
.fr-text--italic{
  font-style: italic;
}

.shadow{
  filter: drop-shadow(var(--lifted-shadow)) !important;
}

@media (min-width: 62em) {
  .fr-table--layout-fixed--lg table {
    display: table !important;
    table-layout: fixed !important;
  }
}
.fr-card--custom-blue{
    border-bottom-right-radius: 40px;
    background-color: var(--background-action-high-blue-france) !important;
  &:hover, &:active{
    background-color: var(--background-action-high-blue-france-hover) !important;
  }
}
.fr-card--custom-blue .fr-card__desc, .fr-card--custom-blue .fr-card__title a[href], .fr-card--custom-blue:before{
  color: var(--text-inverted-blue-france) !important;
}

select:disabled {
  opacity: 1 !important;
  color: var(--text-disabled-grey) !important;
}

.fr-label--warning{
  color: var(--text-default-warning);
}

.fr-table--onglet-vscroll{
  max-height: 25rem;
  overflow: auto;
}

.fr-table--onglet2-vscroll{
  max-height: 35rem;
  overflow-y: auto;
  overflow-x: hidden;
}