.flatpickr-input::placeholder{
  color: var(--text-title-grey) !important;
}
.flatpickr-input:disabled::placeholder{
  color: var(--text-disabled-grey) !important;
  cursor: not-allowed !important;
}
.div-dropdown{
  position:relative;
}
.div-dropdown .fr-menu{
  top: 0px !important;
  margin: 0 !important;
  background-color: var(--background-default-grey);
  pointer-events: auto;
  max-height:14rem;
  overflow:auto;
}
.cwarning{
  color: var(--text-default-warning) !important;
}
.title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}