<div data-tab-target="section" data-tab-value="emplois" class="fr-mb-4w">
  <h2>Emplois</h2>
  <p class="fr-badge fr-badge--warning">Non renseigné</p>
</div>
<div data-tab-target="section" data-tab-value="credits" class="fr-mb-4w">
  <h2>Crédits</h2>
  <p class="fr-badge fr-badge--warning">Non renseigné</p>
</div>
<div data-tab-target="section" data-tab-value="comptabilite" class="fr-mb-4w">
  <h2>Comptabilité générale</h2>
  <p class="fr-badge fr-badge--warning">Non renseigné</p>
</div>
<div data-tab-target="section" data-tab-value="tresorerie" class="fr-mb-4w">
  <h2>Trésorerie</h2>
  <p class="fr-badge fr-badge--warning">Non renseigné</p>
</div>
<div data-tab-target="section" data-tab-value="analyse" class="fr-mb-4w">
  <h2>Analyse financière</h2>
  <p class="fr-badge fr-badge--warning">Non renseigné</p>
</div>
<div data-tab-target="section" data-tab-value="commentaires" class="fr-mb-4w">
  <h2>Commentaires</h2>
  <p class="fr-badge fr-badge--warning">Non renseigné</p>
</div>
