<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <h3 class="fr-h4">Charges</h3>
    <div>Total des charges</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont charges de personnel</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont charges de fonctionnement (autres que les charges de personnel)</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont charges d’intervention</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <h3 class="fr-h4">Produits</h3>
    <div>Total des produits</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont subventions de l’Etat</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont fiscalité affectée</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont autres subventions</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont autres produits</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-12">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Résultat</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center">€</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <div>Charges non décaissables</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-mb-2w">
      <div class="fr-card fr-card--grey fr-p-2w fr-card--no-border">
        <div class="fr-cart__body">
          <p class="fr-mb-0 fr-text--center">Charges décaissables</p>
          <p class="fr-text--bold fr-mb-0 fr-text--center">€</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-lg-6">
    <h3 class="fr-h4">Emplois</h3>
    <div>Total des emplois</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont investissements</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <h3 class="fr-h4">Ressources</h3>
    <div>Total des ressources </div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont financement de l’actif par l’Etat </div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
    <div class="fr-mt-1w">Dont autres ressources</div>
    <div class="fr-text--bold fr-mt-1w"> €</div>
  </div>
</div>
<div class="options fr-hidden">
  <h3 class="fr-h4 fr-mt-4w">Opérations non budgétaires</h3>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div>Emprunts, Prêts, Dépôts et cautionnements (besoins)</div>
      <div class="fr-text--bold fr-mt-1w"> €</div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div>Emprunts, Prêts, Dépôts et cautionnements (financements)</div>
      <div class="fr-text--bold fr-mt-1w"> €</div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div>Opérations au nom et pour le compte de tiers (besoins)</div>
      <div class="fr-text--bold fr-mt-1w"> €</div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div>Opérations au nom et pour le compte de tiers (financements)</div>
      <div class="fr-text--bold fr-mt-1w"> €</div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div>Autres décaissements non budgétaires</div>
      <div class="fr-text--bold fr-mt-1w"> €</div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div>Autres encaissements non budgétaires</div>
      <div class="fr-text--bold fr-mt-1w"> €</div>
    </div>
  </div>
</div>