<% content_for :title do %>Formulaire du budget de l'organisme <%= @organisme.nom %> | OPERA <% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-my-4w">Chiffres clés <%= @organisme.nom %></h1>
        <div class="fr-mb-4w">
          <% if @chiffre.operateur == true %><p class="fr-badge fr-badge--info fr-badge--no-icon">Opérateur</p><% else %><p class="fr-badge fr-badge--new fr-badge--no-icon">Non opérateur</p><% end %>
          <% if @chiffre.comptabilite_budgetaire == true %><p class="fr-badge fr-badge--success fr-badge--no-icon">Comptabilité budgétaire</p><%else %><p class="fr-badge fr-badge--purple-glycine">Hors comptabilité budgétaire</p><%end %>
          <p class="fr-badge <% if @chiffre.phase == 'pré-CA' %>fr-badge--brown-opera<%elsif @chiffre.phase == 'CA' %>fr-badge--green-archipel<%else %>fr-badge--blue-ecume<%end %>"><%= @chiffre.phase %></p>
        </div>
        <%= render 'form_emplois' %>
      </div>
    </div>
  </div>
</main>